<a href="https://colab.research.google.com/github/furro33/College-football-development-/blob/main/cfb3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from google.colab import drive

In [2]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [40]:
df = pd.read_csv('/content/gdrive/MyDrive/cfb/HighSchool/HighSchool - 2002 Player Rankings.csv')
print(df)
print(df.columns)

      ranking             name  ...  rating           college
0           1      Vince Young  ...  1.0000             Texas
1           2   Lorenzo Booker  ...  0.9992     Florida State
2           3       Ryan Moore  ...  0.9986             Miami
3           4      Chris Davis  ...  0.9980     Florida State
4           5        Ben Olson  ...  0.9980     Brigham Young
...       ...              ...  ...     ...               ...
1748     1749       Jerry Hill  ...  0.7667      Kansas State
1749     1750   Manasse Zephir  ...  0.7667  Eastern Michigan
1750     1751      Matt Spaeth  ...  0.7667         Minnesota
1751     1752  DeQuincy Howard  ...  0.7667          Missouri
1752     1753    Matt Bowerman  ...  0.7667              Army

[1753 rows x 9 columns]
Index(['ranking', 'name', 'highSchool', 'position', 'height', 'weight',
       'stars', 'rating', 'college'],
      dtype='object')

In [75]:
# A count of sstar numbers for each team
prueba = pd.DataFrame(df)
prueba1 = prueba.groupby(["college","stars"]).stars.agg("count")
print(prueba1.head(50))


# Doc pandas group by + agg
# https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.core.groupby.DataFrameGroupBy.agg.html

college           stars
Air Force         2         1
Akron             2        19
Alabama           2         2
                  3         6
                  4         1
Arizona           2         8
                  3        15
Arizona State     2         6
                  3        14
                  4         1
Arkansas          2         2
                  3         8
                  4         4
Arkansas State    2        18
Army              2         5
                  3         1
Auburn            2         4
                  3        15
                  4         7
                  5         1
Baylor            2         5
                  3        13
                  4         1
Boise State       2        20
Boston College    2         1
                  3        11
                  4         4
Bowling Green     2        13
                  3         1
Brigham Young     2        11
                  3         3
                  4         2
                  5         1
Buffalo           2        18
Central Michigan  2        17
Cincinnati        2        15
                  3         1
Clemson           2         4
                  3        11
                  4         3
Colorado          2         3
                  3        20
                  4         5
Colorado State    2        20
                  3         4
Connecticut       2         9
                  3         1
Duke              2        17
                  3         4
                  4         1
Name: stars, dtype: int64

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f97b3409690>