<a href="https://colab.research.google.com/github/furro33/College-football-development-/blob/main/cfb4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from google.colab import drive

In [2]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [12]:
df = pd.read_csv('/content/gdrive/MyDrive/cfb/HighSchool/HighSchool - 2015 Player Rankings.csv')
df2 = pd.read_csv('/content/gdrive/MyDrive/cfb/HighSchool/HighSchool - 2015 Player Rankings.csv') 
print(df)
print(df.columns)

      ranking             name  ...  rating        college
0           1   Trent Thompson  ...  0.9991        Georgia
1           2      Martez Ivey  ...  0.9990        Florida
2           3     Byron Cowart  ...  0.9987         Auburn
3           4    Iman Marshall  ...  0.9985            USC
4           5     Derwin James  ...  0.9981  Florida State
...       ...              ...  ...     ...            ...
3319     3320      Grant Dixon  ...  0.6664       Richmond
3320     3321  Mykhael Sanford  ...  0.6664    Austin Peay
3321     3322    Patrick Kehoe  ...  0.6664       Delaware
3322     3323      Hunter Lane  ...  0.6664    Austin Peay
3323     3324     Trevon Avery  ...  0.6333    uncommitted

[3324 rows x 9 columns]
Index(['ranking', 'name', 'highSchool', 'position', 'height', 'weight',
       'stars', 'rating', 'college'],
      dtype='object')

In [14]:
# A count of sstar numbers for each team
df = pd.DataFrame(df)
df2 = pd.DataFrame(df2)
#print(prueba)
df_groupby = df.groupby(["college","stars"]).stars.agg("count")

#print(df2.columns)
df_groupby2 = df2.groupby(["college","stars"]).agg({"stars": "count", "rating": "sum"})
print(df_groupby2)
#df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})

df = pd.DataFrame(df_groupby)
df.columns = ["# of player per star"]
df.reset_index(inplace=True)
#print(df.head(50))



# Doc pandas group by + agg
# https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.core.groupby.DataFrameGroupBy.agg.html

                         stars    rating
college           stars
Abilene Christian 2          1    0.7775
                  3          1    0.8015
Air Force         2         19   14.5568
                  3          1    0.8213
Akron             2         12    9.1944
...                        ...       ...
Youngstown State  3          1    0.8058
uncommitted       1         15   10.3177
                  2        208  158.4983
                  3        156  129.0766
                  4          2    1.7889

[471 rows x 2 columns]